{% extends 'layout.html' %}

{% block body %}
    <form method="POST" action="http://localhost:5000/loginAction" class="mt-1">  
        <div class="jumbotron">
            <h2> Authentification Layout </h2>
        </div>
        <div class="form-group">
            <label for="userLogin">Login</label>
            <input type="text" class="form-control" name="userLogin" id="userLogin" aria-describedby="helpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" name="userPassword" id="userPassword" placeholder="">
        </div>
        <button type="submit" class="btn btn-success justify-content-center">Apply</button>
    </form>
{% endblock %}